body{   
    background: #eee;  
}  

h1 {
    text-align: center;
}
#frm{  
    text-align: center;
    border: solid gray 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: white;  
    padding: 50px;  
    
}  
#btn{  
    color: #fff;  
    background: #337ab7;  
    padding: 7px;  
    margin-left: 10%;  
    
}
